{
    "plugins": [
        [
            "module-resolver", {
                "root": ["./"],
                "alias": {
                    "config": "./config"
                }
            }
        ]
    ]
}